
.DS_Store
images/1765599157485-b99d4560-138d-443b-bc05-88931cf0f105_1.jpg
images/Fig_0_1_Fields.png
images/timeline_01626.pdf
cover.png
images/timeline_01626.png
images/Fig_1_1_genomics_timeline.png
/_book
/images
.Rproj.user

/.quarto/
/ch05-seq-alignment-revised_files
ch05-seq-alignment-revised.html
ch05-seq-alignment-revised.qmd
.Rhistory
/Lab08_updated_files
Lab08_updated.html
Lab08_updated.qmd
Lab08_old.qmd
.RData
.Rhistory

**/*.quarto_ipynb
Lab09_updated.qmd
Lab09_updated.html
/Lab09_updated_files
.Rhistory
index.log
index.tex
ch12-popgen-revised.html
/ch12-popgen-revised_files
ch12-popgen_old.qmd
ch12-popgen_old.html
/ch12-popgen_old_files
.Rhistory
.Rhistory
/site_libs
.positai
