
.DS_Store
images/1765599157485-b99d4560-138d-443b-bc05-88931cf0f105_1.jpg
images/Fig_0_1_Fields.png
images/timeline_01626.pdf
cover.png
images/timeline_01626.png
images/Fig_1_1_genomics_timeline.png
/_book
/images
.Rproj.user

/.quarto/
/ch05-seq-alignment-revised_files
ch05-seq-alignment-revised.html
ch05-seq-alignment-revised.qmd
.Rhistory
